<section id="catalogo">
    <section id='descripcion-producto'>
        <div class="txt-titulo2">
            Elegancia
        </div>
        <div class="txt-titulo3">
            Nuestros Productos
        </div>
        <div class="txt-descripcion">
            Nuevas ofertas para el proximo feriado!! Revisa nuestro inventario
        </div>
        <div class="btn btn-white">Inventario</div>
    </section>
    <section id="productos-section">
    </section>
</section>