<section id="contacto-section">
    <div class="contacto">
        <div class="txt-Contacto">
            <span class="icon-map">Dirección</span>
        </div>
        <div class="txt-link">
            <a href="https://www.google.com.ec/maps/place/Marquez+de+Maenza+Latacunga,Ecuador">
                Marquéz de Maenza,Latacunga,Ecuador
            </a>
        </div>
    </div>
    <div class="contacto">
        <div class="txt-Contacto">
            <span class="icon-envelop">Email</span>
        </div>
        <div class="txt-link">
            <a href="mailto:jsillapa@espe.edu.ec">
                jsillapa@espe.edu.ec
            </a>
        </div>
    </div>
    <div class="contacto">
        <div class="txt-Contacto">
            <span class="icon-phone">Teléfono</span>
        </div>
        <div class="txt-link">
            <a href="tel:+593960602171">
                +593960602171
            </a>
        </div>
    </div>
</section>