<section id="descripcion-section">
    <section id="imagen-box">
        <img class="imgDec" src="assets/img/Descripcion.jpg" alt="descripcion">
    </section>
    <section id="descripcion-box">
        <div class="txt-titulo2">Acerca de Nosotros</div>
        <div class="txt-titulo1">Artículos de hogar</div>
        <div class="txt-descripcion txtblack">
            Deseas crear un ambiente mucho más agradable para tu hogar? entonces que esperas ven y revisa nuestras
            ofertas
        </div>
        <div class="btn">Más información</div>
    </section>
</section>