<footer>
    <div class="txt-footer">
        &reg Suit Magnífica Derechos reservados - {{getAnio}}
    </div>
</footer>
<div class="results"></div>
<script src="data/cargarDatos.js"></script>
</body>

</html>