{{>head}}
<header>
    <div class="txt-titulo2 texto_centro ">Lo ideal para tu Hogar</div>
    <div class="txt-titulo texto_centro">Suit Magnífica</div>

    <section id="encabezado">
        <div class="btn btn-white" >Explorar</div>
    </section>
</header>
{{>descripcion}}
{{>catalogo}}
{{>contacto}}
{{>footer}}